/*
 *  hard-coded ISO paper sizes, but you can zoom when printing, no?
 */
.page {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 3.5mm;
	padding: 10mm;
	display: block;
	margin: 14mm 5.5mm;
	padding: 0;
	border: 1px dotted #eee;
	width: 283mm;
	height: 170mm;
	page-break-after: always;
}

/*
 *  double-sided printing
 */
.double-sided .backs {
	-webkit-transform: rotate(180deg);
}

.double-sided .backs .card {
	float: right;
}

.card {
	float: left;
	height: 85mm;
	width; 132mm;
	padding: 0;
	padding-left: 3.5mm;
	padding-top: 0.5mm;
	-webkit-print-color-adjust: exact;
}

.side {
	margin: 5mm;

	height: 65mm;
	width: 115mm;

	padding: 5mm;
	overflow: hidden;
	color: #333;
	position: relative;
}

.back {
	border: 1mm solid #333;
}

.header {
	height: 7.5mm;
	overflow: hidden;
	text-transform: uppercase;
}

.back .header {
	border-bottom: 1mm solid #333;
	margin-bottom: 4mm;
	padding-bottom: 2mm;
}

.middle {
	height: 53mm;
	max-height: 53mm;
	width: 115mm;
	overflow: hidden;
	display: table;
	position: relative;
}

.back .middle {
	height: 48mm;
	max-height: 48mm;
}

.front .story-type {
	color: rgba(255, 0, 0, 0.1);
	font-family: impact;
	font-weight: bolder;
	text-transform: uppercase;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.front .story-title {
	font-weight: bold;
	font-size: 9mm;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	z-index: 4;
}

.labels {
	float: right;
}

.label {
	background-color: #333;
	color: #fff;
	padding: 1mm;
}

.header .project,
.header .id {
	padding: 1mm 0;
}

.project {
	font-weight: bold;
}


.back .id {
	float: right;
}

.back .id:before {
	content: '#';
}

.footer {
	color: #333;
	height: 7.5mm;
	width: 115mm;
	position: absolute;
	bottom: 0;
}

.amp {
	font-family: "Baskerville";
	font-weight: normal;
	font-style: italic;
}

.epic_name {
	float: left;
	text-transform: uppercase;
}

.points {
	float: right;
	position: relative;
	top: -4.5mm;
	font-size: 9mm;
	font-weight: bold;
}

.back .story-title {
	font-weight: bold;
}

.description {
	font-family: serif;
	margin: 2mm 0;
}

.tasks {
	margin: 2mm 0;
	width: 100%
}

.task {
	font-family: serif;
	font-style: italic;
}

.check {
	font-weight: bold;
	vertical-align: top;
}

.requester {
	float: left;
}

.requester:before {
	content: "By: ";
	font-weight: bold;
}


.owner {
	float: right;
}

.owner:before {
	content: "For: ";
	font-weight: bold;
}


/*
 *  cards for story-type
 */
.filing-colours .front {
	border: 1mm solid #333;
}

.filing-colours .bug,
.filing-colours .bug .footer {
	background-color: #ffffff;
}

.filing-colours .bug .label {
	color: #ffffff;
}

.filing-colours .chore,
.filing-colours .chore .footer {
	background-color: #f8f8f8;
}

.filing-colours .chore .label {
	color: #f8f8f8;
}

.filing-colours .epic,
.filing-colours .epic .footer  {
	background-color: #f0b040;
}

.filing-colours .epic .label {
	color: #f0b040;
}

.filing-colours .release,
.filing-colours .release .footer {
	background-color: #d0c0ff;
}

.filing-colours .release .label {
	color: #d0c0ff;
}

.filing-colours .feature,
.filing-colours .feature .footer {
	background-color: #e9f9d9;
}

.filing-colours .feature .label {
	color: #f0ffe0;
}

.filing-colours .spike,
.filing-colours .spike .footer {
	background-color: #fffba0;
}

.filing-colours .spike .label {
	color: #fffba0;
}

/*
 *  story type as rubber stamp
 */
.rubber-stamp .chore .front .story-type {
	margin-top: 0mm;
	margin-left: 0mm;
	font-size: 44mm;
}

.rubber-stamp .epic .front .story-type {
	margin-top: -12mm;
	margin-left: 3mm;
	font-size: 61mm;
}

.rubber-stamp .feature .front .story-type {
	display: none;
}

.rubber-stamp .spike .front .story-type {
	margin-top: -5mm;
	margin-left: 0mm;
	font-size: 50mm;
}

.rubber-stamp .release .front .story-type {
	margin-top: 4.5mm;
	margin-left: 0mm;
	font-size: 36mm;
}

.rubber-stamp .bug .front .story-type {
	margin-top: -11mm;
	margin-left: 7mm;
	font-size: 62mm;
}

/*
 *  white backs
 */
.white-backs .backs .card,
.white-backs .backs .card .side,
.white-backs .backs .card .side .footer {
	background-color: #ffffff;
}
